#customize-controls .control-section-novelpro-1 .accordion-section-title:hover,
#customize-controls .control-section-novelpro-1 .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-novelpro-1 .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

	.rtl .control-section-novelpro-1 .accordion-section-title .button {
		margin-left:  0;
		margin-right: 8px;
	}

a.button.pro-button-secondary.alignright {
    background: #008ec2;
    color: white;
    border: 1px;
}
#customize-control-hide_hero_section,#customize-control-mask_ovrlay_img,#customize-control-active_leadform,#customize-control-video_muted,#customize-control-display_header_text{
background:#fff;
padding:4px 6px;
}