
/*************************************/
/***** Started theme css **/
.about-wrap .header{
    margin-bottom: 35px;
}

.svg .wp-badge{

background-image: url('../image/icon.png');
}

.about-wrap h1 {
    margin: .2em 200px 0 0;
    padding: 0;
    color: #32373c;
    line-height: 1.2;
    font-size: 2.5em;
    font-weight: 400;
}
.appearance_page_thunk_started{
background:#fff;
}

.appearance_page_thunk_started .theme_link a.ztabtn.button{
    color: #FFFFFF;
    border-color: #FF6D00;
    background: #FF6D00;
}
.appearance_page_thunk_started .theme_link{
background:#fff;
box-shadow: 0px 0px 10px 0px #D0EAF5;
margin-right:5%;
margin-bottom:40px;
width: 46.4%;
padding:20px;
 box-sizing: border-box;
}
.appearance_page_thunk_started .theme_link:nth-child(4), .appearance_page_thunk_started .theme_link:nth-child(2){
margin-right:0%;
}

@media (min-width: 768px){
.theme_link {
    width: 18%;
    display: inline-block;
    float: left;
   padding: 1%;
}
}
